# ---------------- LOKAL ----------------
PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/hackathon_starter
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173,http://localhost:5174,http://localhost:4173,http://localhost:4174

# ---------------- RENDER (production) ----------------
# PORT ni Render o'zi beradi — qo'lda qo'ymang
# NODE_ENV=production
# MONGO_URI=mongodb+srv://user:parol@cluster.xxxxx.mongodb.net/hackathon_starter
# JWT_SECRET=<uzun tasodifiy satr>
# CLIENT_URL=https://user-khaki-phi.vercel.app,https://admin-woad-tau-34.vercel.app,https://*.vercel.app
#   (oxirgisi Vercel preview deploy lari uchun — xohlasangiz olib tashlang)
